.orange{
	   height:25px;
	   width:25px;
         border:1px solid;
         background-color: orange;
       }
.bisque{
	   height:25px;
	   width:25px;
         border:1px solid;
         background-color: bisque;
	 }
.brown{
	   height:25px;
	   width:25px;
         border:1px solid;
         background-color: brown;
	}